body{
    background-color: #fff;

}



.container{

    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    container-type:inline-size;
    
   
    margin: 30px 30px;
    
    box-shadow: 0 4px 8px #00afef35;

    

    
   
}